body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#but {
  text-align: center;
  width: 20%;
  
}

#fst {
  width: 90%;
  text-align: left;
}

#tab {
  background-color: lightcoral;
  border-radius: 5px;
  padding: 0 50px 0 50px;
  margin: auto;
}

#gpa {
  background-color: lightsalmon;
  margin: 10px 60px;
  padding: 20px;
}

#form{
  background-color: rgb(255, 83, 124, 0.5);
  margin: 0px 60px 20px 60px;
  padding: 20px;
}

